@import "tailwindcss";
@import "./_colors.css";
@import "./_components.css";
@import "./_utils.css";

.astro-code {
  @apply rounded-sm;
  border: var(--border-width-1) solid var(--color-role-border);
  font-size: 0.9rem;
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

:root {
  --font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Zen Kaku Gothic New",
    sans-serif;
  --line-height: 1.5;
  --border-width-1: calc(1rem / 16);
}

html {
  background-color: var(--color-role-bg);
  color: var(--color-role-fg);
  color-scheme: dark;
  font-family: var(--font-family);
  line-height: var(--line-height);
}

table {
  font: inherit;
  width: 100%;
}

hr {
  border-color: var(--color-role-border);
}

td,
th {
  border-top: var(--border-width-1) solid var(--color-role-border);
  border-bottom: var(--border-width-1) solid var(--color-border);
  padding: 0.5rem 0.5rem;
}

th {
  text-align: left;
}

code {
  color: var(--color-role-inline-code-fg);
  display: inline-block;
  font-family: var(--font-mono);
  padding: 0.25rem;
}

.content {
  & h1 {
    @apply proportional;
    font-size: 1.5rem;
    margin: 0 0 3rem;
  }

  & h2 {
    @apply proportional;
    font-size: 1.5rem;
    margin: 3rem 0 1.5rem 0;
  }

  & h3 {
    @apply proportional;
    margin: 3rem 0 1.5rem 0;

    &::before {
      content: "⬇️ ";
    }
  }

  & h4 {
    @apply proportional;
    margin: 1.5rem 0 0;

    &::before {
      content: "⬇️ ";
    }
  }

  p {
    margin: 1.5rem 0 0;
  }

  ul {
    list-style: disc;
    margin: 1.5rem 0 0;
    padding: 0 0 0 1.25em;
  }

  ol {
    list-style: decimal;
    margin: 1.5rem 0 0;
    padding: 0 0 0 1.25em;
  }

  & table {
    margin: 1.5rem 0 0;
  }

  .astro-code {
    margin: 1.5rem 0 0;
  }
}

.content[data-content-type="sheets"] {
}
