---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const collection = await getCollection('sheets');
---

<Layout>
  <ul class="grid gap-4">
    {collection.map(({id, data}) => {
      return (<li>
        <a href={`${Astro.url}/sheets/${id}`} class="flex items-center gap-2">
          <span>➡️</span>
          {data.title || id}
        </a>
      </li>)
    })}
  </ul>
</Layout>
